{% extends "layout.html" %}

{% block body %}

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{url_for('static', filename='images/404.png')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="250" loading="lazy">
          </div>
          <div class="col-lg-6">
            <br><br><br><br><br>
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Page Not Found
            </h1>
            <br>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.index') }}" role="button">Home</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.logout') }}" role="button">Logout</a>
          </div>
        </div>
      
{% endblock %}