{% extends "layout.html" %}

{% block title %}Create Post{% endblock %}

{% block body %}
<br><br><br><br><br>
<div class="container-fluid">
    <div class="form-floating">
        <h1>Create A Post</h1>
    </div><br>
    <form method="post">
        <div class="form-floating">
            <textarea class="form-control" name="text" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
            <label for="floatingTextarea2">Post</label>
        </div>
        <br><br>
        <div class="form-floating">
           <button type="submit" class="btn btn-lg btn-primary">Create Post</button>
        </div>
    </form>
    <br>
    <div class="d-flex justify-content-between align-items-center">
        <a href="/home"><button type="button" class="btn btn-lg btn-danger">Back</button></a>
    </div>
</div>


{% endblock %}



